body{
    background-color: #5E0537;
    color: #D8C3CF;
}
.jumbotron{
    background-color: #882D61;
    color: white;
}
#fo{
    background-color: #B26E95;
    margin-left: 10%;
    margin-right: 10%;
}
.doboz{
    background-color: #B26E95;
    border-radius: 3% 3% 3% 3%;
}
.doboz img{
    padding: 5% 5% 5% 5%;
}
#cica_sz{
    color: white;
    padding: 5% 5% 5% 5%;
}
